h1 {background-color: red;
    text-align: center;}

h2, h3 {text-align: center;
        background-color: gray;
}

#titulo {margin-bottom: 30px;}

.text-enlace, .text-enlace2 {text-align:right}
.text-enlace {margin-top: 30px;}

.required:after {   content:"*";
                    color:green}
